/****************************************************************************************************

****************************************************************************************************/


/*
ccdb38 - hellgr�n


*/


/*html{margin: 0;}*/

body {
    background: #b81918;
    color: #fff;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    padding: 0;
    font-size: 16px;
    position: relative;
    width: auto;
}


/*@media(max-width:767px){body{margin: 50px 0px 0px 0px;}}
@media(min-width:768px){body{margin: 0px 0px 0px 0px;}}*/


/*.linkmobile{display: block;}
.linkdesktop{display: none;}*/


/*.mycenter{text-align: center;}*/


/* ====================================================================================================================== */


/* Controller Mobile */


/* ====================================================================================================================== */


/*@media(max-width:768px){.mobile_navi{display: block;}}
	@media(min-width:769px){.mobile_navi{display: none;}}
	@media(max-width:767px){.desktop{display: none;}}
	@media(min-width:768px){.desktop{display: block;}}
	@media(max-width:767px){.mobile{display: block;}}
	@media(min-width:768px){.mobile{display: none;}}*/


/* ====================================================================================================================== */


/* COLORS  */


/* ====================================================================================================================== */

.colorred {
    color: #b81918;
}

.colorblack {
    color: #000;
}

.colorwhite {
    color: #fff!important;
}


/* ====================================================================================================================== */


/* LOGO IMG*/


/* ====================================================================================================================== */


/*@media(min-width:100px){.logo{padding: 0px 20px 20px 20px; width: 100%;}}
	@media(min-width:768px){.logo{padding: 0px 0px 0px 0px; margin: 0px 0px 20px 0px; width: 300px;}}*/


/* ====================================================================================================================== */


/* WELCOME IMG*/


/* ====================================================================================================================== */


/*.sx1{position: relative; top: 0px;}*/


/* .sx2{position: absolute; top: -180px; left: 30%;width: 700px;} */


/*@media(min-width:100px) {.sx2{position: absolute; top: -180px; left: 30%;width: 700px;}}
@media(min-width:768px) {.sx2{position: absolute; top: -80px; left: 32%;width: 300px;}}
@media(min-width:992px) {.sx2{position: absolute; top: -100px; left: 35%;width: 350px;}}
@media(min-width:1200px){.sx2{position: absolute; top: -120px; left: 35%;width: 400px;}}
@media(min-width:1600px){.sx2{position: absolute; top: -180px; left: 30%;width: 700px;}}*/


/* Headerimg */


/*@media(min-width:768px) {.headerimg{padding: 0px 0px 0px 0px;}}
@media(min-width:992px) {.headerimg{padding: 0px 0px 0px 0px;}}




@media(min-width:100px) {#startmobile{padding-top: 50px; background: #ccdb38;}}*/


/*Centering Images*/

.img-fluid {
    margin: auto;
}


/* ====================================================================================================================== */


/*SECTIONS*/


/* ====================================================================================================================== */

#start1 {
    padding-top: 20px;
    background: #ccdb38;
    border-bottom: 10px solid #7a8600;
}

#start2 {
    background: #7a8600;
}

@media(min-width:768px) {
    #imgStart1 {
        max-height: 40%;
        max-width: 40%;
    }
}

@media(min-width:992px) {
    #imgStart1 {
        max-height: 30%;
        max-width: 30%;
    }
}

@media(min-width:1440px) {
    #imgStart1 {
        max-height: 20%;
        max-width: 20%;
    }
}

#info {
    background: #fff;
    padding: 50px 0px 50px 0px;
    border-top: 10px solid #ccdb38;
}

.textcontent {
    line-height: 30px;
    color: #666;
    font-size: 18px;
}


/*PHILOSOPHIE*/

#philo {
    background: #abb93b;
    padding: 80px 0px 50px 0px;
    border-bottom: 10px solid #7a8600;
}

@media(max-width:992px) {
    .textcontent {
        margin-top: 3em;
    }
}


/*PRODUCTS*/

#products {
    background: #f5f5f5;
    padding: 80px 0px 50px 0px;
}


/*Product Cards*/

.btn-more {
    color: #fff;
    background-color: #abb93b;
    border-color: #abb93b;
    width: 100%;
}

.btn-close {
    color: #fff;
    background-color: #abb93b;
    border-color: #abb93b;
}

.btn-send {
    color: #fff;
    background-color: #abb93b;
    border-color: #abb93b;
}

.productName {
    color: #abb93b;
    font-size: 1.2em;
}

.card-block {
    border-top: 2px solid #abb93b;
}


/*PRODUCTS -> MODALS*/

.productModalTitle {
    color: #abb93b;
    text-align: center;
    font-size: 2em;
}

.productModalText {
    color: #abb93b;
    font-size: 1.4rem;
}

@media(max-width:1200px) {
    .productModalText {
        font-size: 1.2rem;
    }
    .productModalTitle {
        font-size: 2rem:
    }
}

@media(max-width:768px) {
    .productModalText {
        font-size: 1.0rem;
        padding-bottom: 15px;
    }
    .productModalTitle {
        font-size: 1.4rem;
    }
}

@media(max-width:544px) {
    .productModalText {
        font-size: 0.8rem;
        padding-bottom: 10px;
    }
    .productModalTitle {
        font-size: 1.4rem;
    }
}

.productModalImage {
    max-width: 80%;
}

#interesse {
    background: #abb93b;
    padding: 80px 0px 60px 0px;
}

@media(max-width: 544px) {
    a.phone {
        font-size: 1.2rem;
    }
}

@media(max-width: 240px) {
    a.phone {
        font-size: 0.85rem;
    }
}

#contact {
    background: #fff;
    padding: 80px 0px 0px 0px;
    color: #333;
}


/*Form Validation*/

#social {
    background: #f2f2f2;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#socialPics {
    text-align: center;
}

.img-social {
    position: relative;
    display: inline-block;
    float: left;
    padding: 10px;
    min-width: 20%;
}

@media(max-width:3000px) {
    .img-social {
        width: 120px;
        padding: 15px;
    }
}

@media(max-width:1200px) {
    .img-social {
        width: 100px;
        padding: 15px;
    }
}

@media(max-width:992px) {
    .img-social {
        width: 90px;
        padding: 10px;
    }
}

@media(max-width:768px) {
    .img-social {
        width: 70px;
        padding: 3px;
    }
}

@media(max-width:544px) {
    .img-social {
        width: 50px;
        padding: 3px;
    }
}

@media(max-width:375px) {
    .img-social {
        width: 35px;
        /*padding: 3px;*/
    }
}

#foot {
    background: #abb93b;
    padding: 40px 0px 0px 0px;
    color: #fff;
}


/* ==================================================================================================================== */


/* Phone */


/* ==================================================================================================================== */

.phone {
    margin: 20px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 30px;
    background: none;
}


/*@media(min-width:100px) {
    .phone {
        padding: 10px 20px;
    }
}

@media(min-width:768px) {
    .phone {
        padding: 10px 60px;
    }
}*/

.phone:hover, .phone:active {
    margin: 20px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 30px;
    background: #bac851;
    text-decoration: none;
}


/*@media(min-width:100px) {
    .phone:hover {
        padding: 10px 20px;
    }
}

@media(min-width:768px) {
    .phone:hover {
        padding: 10px 60px;
    }
}*/


/* ====================================================================================================================== */


/* BTN */


/* ====================================================================================================================== */

.btnx1 {
    /* padding: 10px 60px; */
    margin: 20px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    background: #abb93b;
}

@media(min-width:100px) {
    .btnx1 {
        padding: 10px 20px;
    }
}

@media(min-width:768px) {
    .btnx1 {
        padding: 10px 60px;
    }
}

.btnx1:hover {
    padding: 10px 60px;
    margin: 20px;
    border: 1px solid #fff;
    color: #fff;
    background: #333;
    text-decoration: none;
}

@media(min-width:100px) {
    .btnx1:hover {
        padding: 10px 20px;
    }
}

@media(min-width:768px) {
    .btnx1:hover {
        padding: 10px 60px;
    }
}

.btnx2 {
    /* padding: 10px 60px; */
    margin: 20px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    background: #73971e;
}

@media(min-width:100px) {
    .btnx2 {
        padding: 10px 20px;
    }
}

@media(min-width:768px) {
    .btnx2 {
        padding: 10px 60px;
    }
}

.btnx2:hover {
    padding: 10px 60px;
    margin: 20px;
    border: 1px solid #fff;
    color: #000;
    background: #fff;
    text-decoration: none;
}

@media(min-width:100px) {
    .btnx2:hover {
        padding: 10px 20px;
    }
}

@media(min-width:768px) {
    .btnx2:hover {
        padding: 10px 60px;
    }
}


/* ====================================================================================================================== */


/* FAETURED */


/* ====================================================================================================================== */

.feat {
    border: 0px solid #fff;
    /* padding: 20px; */
    margin-bottom: 25px;
    background-color: rgba(215, 44, 44, 0.9);
    background: rgba(215, 44, 44, 0.9);
    color: #fff;
    /* font-size: 22px; */
    font-weight: 200;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

@media(min-width:100px) {
    .feat {
        font-size: 16px;
        padding: 10px;
    }
}

@media(min-width:768px) {
    .feat {
        font-size: 16px;
        padding: 10px;
    }
}

@media(min-width:992px) {
    .feat {
        font-size: 22px;
        padding: 20px;
    }
}


/* ====================================================================================================================== */


/* Classes for images  */


/* ====================================================================================================================== */

.fullimg {
    width: 100%;
}

.refimg {
    border: 1px solid #ccc;
}

@media(max-width:768px) {
    .floatingimage {
        width: 100%;
    }
}

@media(min-width:769px) {
    .floatingimage {
        float: left;
        width: 300px;
        margin: 5px 20px 20px 0px;
    }
}

.imgtitle {
    text-align: left;
    width: 100%;
    font-size: 14px;
}


/* ====================================================================================================================== */


/* BX SLIDER */


/* ====================================================================================================================== */

.bxslider li {
    margin-left: -40px;
}


/* ==================================================================================================================== */


/* CONTAINER */


/* ==================================================================================================================== */

.container {
    border: 0px solid red;
}

@media (min-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 90%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}


/* ==================================================================================================================== */


/* TYPO */


/* ==================================================================================================================== */

h1 {
    text-align: center;
}

h2 {
    font-size: 16px;
    font-weight: 300;
}

h2 a {
    color: #626262;
}

h2 a:hover {
    color: #78b8d2;
}

p {
    text-align: center;
    padding: 0px 0px 40px 0px;
}


/* ==================================================================================================================== */


/* INDEX */


/* ==================================================================================================================== */


/* H1 Class */

.titlepage {
    color: #666;
    padding-right: 0px;
    margin-top: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

@media (min-width: 100px) {
    .titlepage {
        font-size: 30px;
        font-weight: 200;
        border-bottom: 0px solid #626262;
        margin-bottom: 20px;
        margin-top: 0px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .titlepage {
        font-size: 30px;
        font-weight: 200;
        border-bottom: 0px solid #626262;
        margin-bottom: 20px;
        margin-top: 0px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .titlepage {
        font-size: 26px;
        font-weight: 200;
        border-bottom: 0px solid #626262;
        margin-bottom: 20px;
        margin-top: 0px;
        text-align: center;
    }
}

@media (min-width: 1500px) {
    .titlepage {
        font-size: 34px;
        font-weight: 200;
        border-bottom: 0px solid #626262;
        text-align: center;
    }
}

.titlepageh3 {
    color: #666;
    padding-right: 0px;
    margin-top: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

@media (min-width: 100px) {
    .titlepageh3 {
        font-size: 18px;
        font-weight: 200;
        border-bottom: 0px solid #626262;
        margin-bottom: 20px;
        margin-top: 0px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .titlepageh3 {
        font-size: 18px;
        font-weight: 200;
        border-bottom: 0px solid #626262;
        margin-bottom: 20px;
        margin-top: 0px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .titlepageh3 {
        font-size: 20px;
        font-weight: 200;
        border-bottom: 0px solid #626262;
        margin-bottom: 20px;
        margin-top: 0px;
        text-align: center;
    }
}

@media (min-width: 1500px) {
    .titlepageh3 {
        font-size: 26px;
        font-weight: 200;
        border-bottom: 0px solid #626262;
        text-align: center;
    }
}

.textcolorwhite {
    color: #fff!important;
}

.textcolorgrey {
    color: #ccc!important;
}

.h3subtitle {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

@media (min-width: 100px) {
    .h3subtitle {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .h3subtitle {
        font-size: 28px;
    }
}

@media (min-width: 992px) {
    .h3subtitle {
        font-size: 20px;
    }
}

@media (min-width: 1500px) {
    .h3subtitle {
        font-size: 20px;
    }
}


/* BTN */


/* .mygreen{background: #8bb125; color: #fff; font-size: 22px; font-family: 'Titillium Web', sans-serif!important;}
	.mygreen:hover{background: #78b8d2; color: #fff; font-family: 'Titillium Web', sans-serif!important;}

	@media (min-width: 300px) {.mygreen{font-size: 22px;}}
	@media (min-width: 768px) {.mygreen{font-size: 10px;}}
	@media (min-width: 992px) {.mygreen{font-size: 18px;}} */


/* @media(min-width:100px){.scrollup{display: none!important;}}	 */

@media(min-width:768px) {
    .scrollup {
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: block;
        text-indent: -9999px;
        background: url('../img/top.jpg') no-repeat;
        background-color: #1e1e1e;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
}


/* ====================================================================================================================== */


/* Iframe Responsive CLASSES */


/* ====================================================================================================================== */

.responsiveContainer {
    position: relative;
    /*   padding-bottom: 56%;  */
    /*   padding-bottom: 30%;  */
    height: 0;
    overflow: hidden;
}

@media(min-width:100px) {
    .responsiveContainer {
        padding-bottom: 50%;
    }
}

@media(min-width:768px) {
    .responsiveContainer {
        padding-bottom: 50%;
    }
}

@media(min-width:992px) {
    .responsiveContainer {
        padding-bottom: 30%;
    }
}

.responsiveContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/****************************************************************************************************
	overrride Navbars
****************************************************************************************************/

.navbar-toggle {
    background: #a4b300;
    color: #fff !important;
    border-color: #fff !important;
}

.navbar-header {
    background: #7a8600;
    border: none;
}

.navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #a4b300;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background: #7a8600!important;
}

.navbar-brand {
    color: #fff !important;
}


/* ==================================================================================================================== */


/* DEFAULT CLASS */


/* ==================================================================================================================== */

.nopadding {
    padding: 0px;
}

.my_padding_trbl_10 {
    padding: 10px;
}

.my_padding_trbl_15 {
    padding: 15px;
}

.clear {
    clear: both;
}


/* .logo{width: 100%;} */

.textcenter {
    text-align: center;
}

.implink {
    color: #999;
}

.implink:hover {
    color: #999;
}

.h1title {
    font-size: 22px;
    margin-top: 50px;
}

.smalltext {
    font-size: 12px;
}

.impressum {
    font-size: 14px;
    color: #fff;
}

.copyright a {
    color: #fff;
}

.modal-impressum {
    color: #000;
}

.modal-title-impressum {
    color: #000;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        /*background-color: transparent;*/
        background: #fff;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    /* ====================================================================================================================== */
    /*NAVIGATION IS MINMAL ON TOP */
    /* ====================================================================================================================== */
    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }
    .navbar-default.navbar-shrink .top {
        border: 1px solid red;
        display: none;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
